<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
    <key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.486306499439-ua2gbk3cc2a66mfie9af14sunlue6sma</string>
                <string>fb1077346733630579</string>

            </array>
		</dict>
	</array>
    
   
   <key>FacebookAppID</key>
   <string>1077346733630579</string>
   <key>FacebookDisplayName</key>
   <string>halka</string>
   
   <key>LSApplicationQueriesSchemes</key>
   <array>
     <string>fbapi</string>
     <string>fb-messenger-api</string>
     <string>fbauth2</string>
     <string>fbshareextension</string>
   </array>
   
   <key>FacebookClientToken</key>
   <string>4ef0ac575343f63b0a39ec4967aa8041</string>
   
   <key>NSContactsUsageDescription</key>
   <string>We need access to your contacts for inviting new halka members.</string>
   
<key>NSCameraUsageDescription</key>
<string>We need access to the camera to take photos for profile picture and complaints.</string>

</dict>
</plist>
